.class-for-topic {
  font-family: "Open Sans",Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
}  

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-container {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-content: center;

  font-size: 16px;
  text-align: center;
}

/** Hamburger menu ala Tengel, 

Canvas. Tengel Aas Sandtrø. CompletePage_02_Simple-Burger-menu

https://oslomet.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=e07c0035-72e8-41fd-a7de-b09800a14526**/


#burger-toggle{display:none;} 

@media (min-width: 701px){
  .menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    right: 0;
  }
  
  .menu li{padding-right: 4rem;}
}

@media (max-width: 700px){
  .menu{
    list-style-type: none;
    position: sticky;
    padding-left: 0px;
    background-color: (113, 113, 207);
  }
  .logo {
    display: none
  }
  
  .menu-icon{
    display: block;
    background-image: url(../image/burgermenu1.svg);
    background-size: cover;
    height: 40px;
    width: 40px;
  }

  .hamburger-toggle-container {cursor: pointer;}

  .menu li {
    height: 0px;
    overflow: hidden;
  }

  #burger-toggle:checked ~ .menu li{
      height: 1rem;
      width: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-bottom: 0.5rem;
      background-color: var(--siteburgundy);
  }

  nav{
    display: flex;
    height: 40px;

  }
}

